/* import { Flex } from "antd" */
.wrapper {
  height: 1147px;
  width: 1010px;
}
.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
li::marker {
  content: none;
}
.li-item {
  display: block;
  width: 200px;
}

img {
  width: 200px;
}
.ul-wrapper {
  height: 100%;
}
